@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-surface1: #F1F1F1;
  --background-surface2: #FDFDFD;
  --background-surface3: #E2E2E2;
  --background-surface4: #FDFDFD50;
  --background-dark1: #282828;
  --background-dark2: #141414;
  --background-primary: #2D68FF;
  --background-highlight: #E2E2E230;
  --background-subtle: #E2E2E250;
  --background-overlay: #28282890;

  --text-primary: #1B1B1B;
  --text-primary-body: #1B1B1B70;
  --text-secondary: #727272;
  --text-tertiary: #A8A8A8;
  --text-light: #FDFDFD;
  --text-blue: #2D68FF;

  --stroke1: #E2E2E2;
  --stroke-subtle: #A8A8A810;

  --green: #00A656;
  --blue: #2D68FF;
  --red: #FF381C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--text-primary);
  background: var(--background-surface1);
  font-family: var(--instrument-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
